config.yml
node_modules
.cache
node_modules
.parcel-cache
assets/theme.min.css
assets/theme.min.css.map
assets/vendors.js
assets/vendors.min.js.map
assets/vendors.js.map
assets/theme.min.js
assets/theme.js.man
assets/theme.min.js.map
assets/tailwind*
assets/index.*
.DS_Store
package-lock.json
.idea
ref.html
shopify.theme.toml
package.old.json
theme/layout/theme.old.liquid
styles_old
scripts_old
template_backups
.shopify
.shopify/metafields.json
theme/.shopify
theme/.shopify/metafields.json
theme/assets/nss-*.map
theme/assets/nss-*.css.map
theme/assets/nss-*.js.map
